* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SF Pro display;
  src: url(../fonts/sf-pro-display_regular.woff2);
}

@media only screen and (min-width: 1300px) and (max-width: 2400px) {
  .first-page-apple .main-content {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/larger/iphone_12__ejhnn79bn1me_largetall.jpg);
    background-position-x: center;
    background-position-y: 90px;
    background-repeat: no-repeat;
  }

  /*--------------*/
  /*----tablet---*/
  /*--------------*/
}
@media screen and (max-width: 767px) {
  .nav-link {
    display: none;
  }

  .main-content-background {
    width: 100%;
    max-width: 767px;
    padding: 10px 0;
  }

  .main-content-paragraph {
    width: 82.5%;
  }

  main.content.text .headline {
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
  }

  .first-page-apple .main-content {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/mobile/asset\ 12.jpeg);
    background-position-x: center;
    background-position-y: 90px;
    background-repeat: no-repeat;
  }

  .second-page-apple .second-content {
    margin-top: 12px;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(../assets/mobile/asset\ 13.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
  }
  .third-page-apple .third-content {
    margin-top: -100px;
    text-align: center;
    background-color: #000;
    height: 90vh;
    width: 100%;
    background-image: url(../assets/mobile/asset\ 15.jpeg);
    background-position-x: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
  }
}

/*-------------------*/
/*------html---------*/
/*-------------------*/
html {
  font-family: SF Pro display;
}
a {
  color: #06c;
  display: block;
  text-decoration: none;
}

/*------header ------*/
/*-------------------*/
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.nav-bar {
  height: 44px;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 22px;
}
.nav-list {
  height: 44px;
  margin: 0 -10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 14px;
  line-height: 3.14286;
  font-weight: 400;
  letter-spacing: -0.01em;
  padding: 0 10px;
  color: #f5f5f7;
  opacity: 0.7;
}

.nav-link:hover {
  color: #ffffff;
  opacity: 100;
}

.nav-link-apple {
  height: 3.6rem;
  width: 1.6rem;
  background: url(../assets/icons/apple.svg) center no-repeat;
}

.nav-link-search {
  height: 3.6rem;
  width: 1.6rem;
  background: url(../assets/icons/search.svg) center no-repeat;
}

.nav-link-bag {
  height: 2.7rem;
  width: 1.9rem;
  background: url(../assets/icons/global-bag.svg) center no-repeat;
}
/*------covid-paragraph------*/
/*----------------------------*/
.main-content {
  text-align: center;
}
.main-content-background {
  width: 100%;
  padding-top: 44px;
  background-color: #f5f5f7;
}
.main-content-paragraph {
  margin-left: auto;
  margin-right: auto;
  max-width: 756px;
  height: 44px;
}

.para-text {
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  opacity: 0.7;
}
/*------homepage------*/
/*-------------------*/
.main-content-text {
  padding-top: 47px;
}

.headline {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.subhead-main {
  margin-top: 6px;
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
}

.price {
  color: #86868b;
  opacity: 0.8;
  margin-top: 6.8px;
  font-size: 17px;
}

.learn-links {
  display: inline-flex;
  margin-top: 13.65px;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  color: #06c;
}

.buy-text {
  margin-left: 35px;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 40;
}

.main-content {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/asset\ 11.jpeg);
  background-position-x: center;
  background-position-y: 44px;
  background-repeat: no-repeat;
}

/*------second page------*/
/*-------------------*/
.second-content {
  margin-top: 12px;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/iphone_12_pro__f7ri3g4x75m6_large.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
}

.main-content-text-two {
  padding-top: 47px;
  color: #f5f5f7;
}

/*------Third page------*/
/*-------------------*/

.third-content {
  margin-top: -24px;
  text-align: center;
  background-color: #000;
  height: 90vh;
  width: 100%;
  background-image: url(../assets/watch.jpeg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.main-content-text-three {
  padding-top: 47px;
  color: #f5f5f7;
}

/*------flex------*/
/*-------------------*/
.category {
  display: flex;
}

.category-2 {
  display: flex;
}

.category-3 {
  display: flex;
}

/*------Fourth page------*/
/*-------------------*/

.box {
  text-align: center;
  background-color: #fbfbfd;
  height: 90vh;
  width: 50%;
}

h4 {
  margin-top: 52px;
  font-size: 40px;
}

.subhead {
  max-width: 480px;
  margin: 6px auto 6px auto;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
}

.learn-more-text {
  font-size: 17px;
  font-weight: 400;
}

#box1 {
  margin: 12px 6px 6px 12px;
  background-image: url(../assets/apple\ promo.jpeg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}
#box2 {
  margin: 12px 12px 6px 6px;
  background-image: url(../assets/ipad.jpg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

/*------5th page------*/
/*-------------------*/
.square {
  text-align: center;
  height: 90vh;
  width: 50%;
}

.h4-square {
  color: #fff;
  font-size: 40px;
}

.airpods-image {
  margin-top: 52px;
}
.subhead-white {
  color: #fff;
  max-width: 480px;
  margin: 16px auto 16px auto;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
}
.subhead-dark {
  color: #000;
  max-width: 480px;
  margin: 16px auto 16px auto;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
}

.apple-promo-learn {
  font-size: 17px;
  font-weight: 400;
}

#box3 {
  margin: -6px 6px 6px 12px;
  background-image: url(../assets/macbook_air__knzp0i282eyy_large.jpg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

#box4 {
  margin: -6px 12px 6px 6px;
  background-image: url(../assets/7th\ image.jpg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

/*------6th page------*/
/*-------------------*/

.hero-box {
  text-align: center;
  height: 90vh;
  width: 50%;
}

.h4-square {
  color: #fff;
  font-size: 40px;
}

.arcade-image {
  margin-top: 52px;
}
.apple-tv-image {
  margin-top: 52px;
}

.subhead-dark-text {
  color: #000;
  max-width: 480px;
  margin: 16px auto 16px auto;
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
}

#box5 {
  margin: -6px 6px 12px 12px;
  background-image: url(../assets/nba.jpg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

#box6 {
  position: relative;
  margin: -6px 12px 12px 6px;
  background-image: url(../assets/man.jpg);
  background-position-x: center;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.eddie {
  position: absolute;
  width: 100%;
  bottom: 24px;
}

h6 {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.21053;
  letter-spacing: 0.012em;
}

.apple-watch-eddie {
  margin-top: 12px;
  color: #fff;
}

/*------Footer------*/
/*-------------------*/
.global-footer {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  background-color: #f5f5f7;
  color: #1d1d1f;
  min-width: 1024px;
}

ol li {
  list-style-type: none;
}
.note {
  padding-bottom: 9.6px;
}
.main-container-footer {
  box-sizing: content-box;
  max-width: 980px;
  margin: 0 auto;
  padding: 17px 22px 0px 22px;
}

.footnotes {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  opacity: 0.8;
  padding: 0 0 10px 0;
}
ul li {
  list-style-type: none;
  color: #515154;
  opacity: 0.8;
}

.five-column-bar {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}

.column-bar {
  flex-basis: 25%;
}

.footer-h3 {
  color: #515154;
  font-size: 12px;
  line-height: 1.33337;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0.8em;
}

.footer-ul {
  color: #515154;
  margin-right: 20px;
}

.footer-list-item {
  color: #515154;
  margin-bottom: 9.6px;
}

.footer-list-item:hover {
  text-decoration: underline;
  color: #000;
}

.gap-column-footer {
  padding-top: 24px;
}

.footer-extra {
  color: #86868b;
  opacity: 0.8;
  padding-top: 34px;
  padding-bottom: 21px;
}

.footer-call-no {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
}
